* {
  margin: 0;
  font-family: 'Ubuntu Monog', monospace;
  background: #efeaea;
}

.App {
  width: 1000px;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainInput {
  width: 300px;
  height: 20px;
  margin-top: 50px;
  margin-left: 10px;
  border: 2px solid cornflowerblue;
  border-radius: 5px;
}

.actionButton {
  display: block;
  margin-top: 15px;
  width: 80px;
  height: 50px;
  border: 2px solid black;
  background: cornflowerblue;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.expense {
  width: 120px;
  height: 70px;
  margin-left: 10px;
  display: block;
}

.expense-delete-btn {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  width: 65px;
  height: 50px;
  border: 2px solid black;
  background: #ef3310;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.expense-delete-btn:hover {
  background: darkred;
}

.expense-delete-btn:active {
  color: #000;
  background: #fff;
}

.actionButton:hover {
  background: blue;
}

.actionButton:active {
  color: #000;
  background: #fff;

}


.header {

}

.sum {
  margin-top: 15px;
  font-weight: normal;
}

.wrapper {
  margin-top: 200px;
  width: 800px;
  border: 3px solid forestgreen;
  padding: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  horiz-align: center;
  vertical-align: center;
  margin-bottom: 120px;
}

.expense-wrapper {
  margin-top: 20px;
  margin-bottom: 70px;
  width: 800px;
  height:200px;
  border: 3px solid #e5582c;
  padding: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  horiz-align: center;
  vertical-align: center;
}

.expense-input {
  width: 300px;
  height: 20px;
  margin-top: 50px;
  margin-left: 10px;
  border: 2px solid cornflowerblue;
  border-radius: 5px;
}
